<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">




<!-- 可以使用无参构造函数实例化组件，如何进行ioc配置
    <bean _ 一个组件信息 _一个组件对象>
        id 组件的标识 是唯一的，方便后期读取
        class 组件内的类的全限定包名
    将一个组件类。
  -->
    <bean id="happyComponent1" class="cn.wangye.commentObj.HelloComponent"/>
    <bean id="happyComponent2" class="cn.wangye.commentObj.HelloComponent"/>

<!--这是静态工厂类的配置  -->
    <bean id="StaticClientService" class="cn.wangye.commentObj.ClientService" factory-method="createInstance"></bean>
<!--  非静态工厂类的配置 因为非静态，所以我们只有现将工厂实例对象创建出来 -->
<!--  再根据实例出来的工厂对象去调用实例工厂的方法名 -->
    <bean id="DefaultServiceLocator" class="cn.wangye.commentObj.DefaultServiceLocator"></bean>
    <bean id="ServiceLocator" factory-bean="DefaultServiceLocator" factory-method="createClientServiceInstance"></bean>
</beans>